body { background-color: #FFFFFF; margin:0px; overflow: hidden; background-color: #222}

canvas {
  border: 2px solid #000;
  border-radius: 5px;
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
