body {
  overflow:hidden;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.7;
}
#vidtop-content {
	top: 0;
	color: #fff;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.vid-info {
  position: absolute;
  top: 35%;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-family: Avenir, Helvetica, sans-serif;
  margin: auto;
  overflow-y: inherit;
 }

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
  margin: auto;
}

.vid-info a { display: block;
   color: #fff;
   padding: 10px;
   text-decoration: none;
   background: rgba(0,0,0,0.7);
   transition: .6s background;
   border-bottom: none;
   margin: 3rem auto;
   text-align: center;
 }

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

canvas {
}

#titlemain {
  font-family: VT323;
  text-align: center;
  font-weight: bold;
  font-size: 7em;
  text-shadow:4px 4px 0px #000000;
}

#userInput {
  padding:3px;
  font-size:25px;
  border: rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 2px;
  color:#ffffff;
  background:none;
  font-weight:bold;
  font-family: VT323;
  text-align: center;
  width: 100%;
}
#userInput:focus {
  outline:none;
}

.superp {
  font-weight:bold;
  font-family: VT323;
  font-size:16px;
  margin-bottom: 10px;
}

.superbutton {
	background-color:#000000;
	cursor:pointer;
	color:#ffffff;
	font-family: VT323;
	font-size:16px;
	font-weight:bold;
	padding:2px 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  max-width: 100%;
  height: 40px;
  text-align: center;
}
.superbutton:hover {
	background-color:#070806;
}
.superbutton:active {
	position:relative;
	top:1px;
}

.undertitle {
  position: relative;
  top: 30%;
  padding-top: 10px;
  width: 25%;
  margin: 0 auto;
  height: 25%;
  background: rgba(0,0,0,0.6);
}
