/* This my CSS Bruv
   Back Ground and body tags */
body {
  background-color: #7289da;
  overflow:auto;
}

/* <p> Tag */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 40px;
  font-style: normal;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.plist {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-style: normal;
  position: relative;
  text-align: center;
  color: #7289da;
}

ol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  color: #7289da;
}

/* <h1> Tag for text titles */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 3em;
  position: relative;
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
  padding-top: 25px;
  font-weight: bold;
}
/* <Header> Tag */
ul {
    list-style-type: none;
    top: 25px;
    margin: 0;
    padding: 0;
    width: 19%;
    left: 15px;
    background-color: #ffffff;
    height: 88%;
    position: fixed;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 25px;
    border-top-width: 25px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-weight: bolder;
    border-color: #2c2f33;
    z-index: 4;
}
li a {
    display: block;
    color: #23272a;
    padding: 20px 20px;
    text-decoration: none;
}

li a.active {
    background-color: #2c2f33;
    color: white;
}

li a:hover:not(.active) {
    background-color: #23272a;
    color: white;
}

/*
img.displayed {
  position: absolute;
  height: 600px;
  width: 400px;
  left: 50%;
}
*/

.container_center {
   position: relative;
   background-color: #2c2f33;
   width: 99%;
   top: 10px;
   margin:0 auto;
   height: 10000px;
   z-index: 1;
   -webkit-box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
   -moz-box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
   box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
}

.container_content {
   position: relative;
   background-color: #23272a;
   width: 75%;
   left: 10%;
   margin:0 auto;
   top: 25px;
   height: 99%;
   z-index: 2;
   -webkit-box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
   -moz-box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
   box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
}
.text_container {
   position: relative;
   background-color: #23272a;
   width: 80%;
   margin:0 auto;
   top: 37px;
   height: 99%;
   z-index: 3;
}
.imgmain {
  width: 60%;
  height: auto;
  margin-bottom: 150px;
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.iframe {
  width: 100%;
  height: 500px;
}
.fullwidth {
  width: 100%;
  -webkit-box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 25px -5px rgba(0,0,0,0.75);
}
.divider {
  width: 100%;
  height: 500px;
}
.buttondiv {
  text-align:center;
}

.myButton {
	background-color:#7289da;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #7289da;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.myButton:hover {
	background-color:#1289da;
  padding-left: 70px;
  padding-right: 70px;
}
.myButton:active {
	position:relative;
	top:1px;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #7289da;
}

.superul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.superol {
  background-color:#7289da;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #7289da;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  text-align: center;
  margin: 0 auto;
}
