body {
  background-image: image("logo.gif");
}

.header {
  width: 1100px;
  margin: 0 auto;
  height: 20vh;
  background-color: #ff8000;
}

.main {
  width: 1000px;
  margin: 0 auto;
  top: 20vh;
  height: 80vh;
  background-color: cyan;
  display: flex;
}

.content {
  float: left;
  flex: 1;
  left: 20%;
  width: 80%;
  height: 100%;
  background-color: gray;
  display: flex;
}

.india {
  height: 100%;
	width: 100%;
	display: block;
}

.news {
  width: 300px; /* u r b l */
  height: 550px;
  margin: 0 auto;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
  overflow: hidden;
}

.news2 {
  width: 100%;
  height: 10%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.newscontent {
  top: 20%;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.newsimage {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
}

.white {
  color: white;
  margin: 5px;
}

.newstext {
  width: 65%;
  padding: 2px;
  color: black;
  float: left;
}

div.bb_code, .bb_wysiwyg pre {
	border: 1px solid #535354;
	border-radius: 3px;
	padding: 12px;
	margin: 8px;

	font-size: 11px;
	font-family: Consolas,monospace;
	white-space: pre;
	white-space: pre-wrap;
	overflow-x: auto;
}
